/* Full-page login background */
.login-page {
  background-color: black;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #ddd;
  text-align: center;
  padding: 2rem;
}

/* Login Form */
.login-page h2 {
  color: #fff;
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.login-form input {
  margin: 0.75rem 0;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.login-form button {
  margin-top: 1rem;
  padding: 0.75rem;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #ffd700;
}

/* Links */
.login-links {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
}

.forgot-password-link,
.create-account-link {
  font-weight: bold;
  color: blue;
  font-size: 0.9rem;
  text-decoration: none;
}

.forgot-password-link:hover,
.create-account-link:hover {
  text-decoration: underline;
  color:#ffd700;
}

/* Responsive Design */
@media (max-width: 480px) {
  .login-page h2 {
    font-size: 1.5rem;
  }

  .login-form input,
  .login-form button {
    font-size: 0.9rem;
  }

  .forgot-password-link,
  .create-account-link {
    font-size: 0.8rem;
  }
}
